/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}





/* tags */
header {
    background-color: #255ee9;
    width: 100%;
    padding: 30px 0;
}

header nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header div.container button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

a {
    text-decoration: none;
    color: black;
}


/* ID */



/* utilities */
.container {
    position: relative;
    width: 70%;
    margin: auto;
}

/* header */
.logo {
    /* TODO: Vertical Allign */
}

.links,
.links li {
    display: inline-block;
}

header nav ul.links li {
    margin-right: 15px;
}

.links li a {
    color: white;
    text-decoration: none;
}

.links li:last-child {
    margin: 0;
}

.btn-small {
    padding: 7px 15px;
    border-radius: 20px;
    border-style: none;
    font-size: 13px;
}

.btn-normal {
    padding: 10px 25px;
    border-radius: 20px;
    border-style: none;
    font-size: 16px;
}


/* Button colors pallet */
.white {
    background-color: #fff;
    border-color: currentColor;
}

.black {
    background-color: #23272A;
    border-color: currentColor;
    color: white;
}

.lilla {
    background-color: #b6a6d6;
    border-color: currentColor;
}



/* Main */
.hero-img {
    width: 100%;;
}

.jumbo-container {
    position: relative;
}

.jumbo-text {
    position: absolute;
    text-align: center;
    width: 40%;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jumbo-text h1 {
    padding-bottom: 20px;
    font-size: 45px;
}

.jumbo-text p {
    font-size: 17px;
}

.jumbo-text p {
    line-height: 25px;
}

.jumbo-text h1,
.jumbo-text p {
    color: white;
}

.jumbo-text div.btn-container {
    padding: 20px 0;
}






